@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");
}

* {
  border: 1px solid red;
}

a {
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  margin: 1rem;
  background-color: lightyellow;
}

.header-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  padding: 1rem;
  text-align: center;
}

.header-logo {
  content: url("../images/cat.svg");
  max-width: 200px;
  width: 100%;
}

.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 25%;
  margin: 0 1rem;
  background-color: lightyellow;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sidebar-nav > a {
  margin: 1rem;
}

.main {
  width: 50%;
  height: auto;
  background-color: lightyellow;
}

.article-header {
  margin: 1rem;
}

.article-text {
  margin: 0 1rem;
}

.aside {
  width: 25%;
  background-color: lightyellow;
  margin: 0 1rem;
}

.aside-text {
  margin: 1rem;
}

.footer {
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem;
  min-height: 200px;
  background-color: lightyellow;
}

.footer-nav {
  width: 25%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  width: 25%;
  margin: 1rem;
}

.footer-nav > a {
  margin: 0.5rem;
}
